#logo{
    position:relative;
    width: 460px;
    margin: 0 auto;
    height: 90px;
    text-align: left;
    border: 1px dotted silver;
}

#header{
    position: relative;
    width: 460px;
    margin: 0 auto;
    height: 30px;
    text-align: right;
    border: 1px dotted silver;
}

img{
    vertical-align: middle;
}

#id{
    position: relative;
    width: 460px;
    height: 50px;
    border: 1px solid gray;
    line-height: 50px;
    color: gray;
    font-size: 120%;
    margin: 0 auto;
}

#pw{
    position: relative;
    width: 460px;
    height: 50px;
    border: 1px solid gray;
    line-height: 50px;
    color: gray;
    font-size: 120%;
    margin: 0 auto;
}

#id input{
    font-size: 90%;
    border: none;
    outline: none;
    }
#pw input{
        font-size: 90%;
        border: none;
        outline: none;
    }
#email{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
        text-align: left;

}

#name{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}
#birth{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}
#phone{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}
#phonecompany{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}
#phn{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: gray;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}
#agree{
    position: relative;
    width: 460px;
    height: 50px;
    line-height: 50px;
    color: green;
    font-size: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    text-align: left;
}